{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest/globals": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "plugins": [
        "react",
        "prettier",
        "jest"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "react/prop-types": "warn",
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto",
                "printWidth": 120
            }
        ]
    }
}